<h1 class="page-title">Home</h1>
<div class="home-card">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">I made separate Movie and Actors tables and set up a has_and_belongs_to_many relationship between the two.</li>
      <li class="list-group-item">This made sense to me because movies have many actors and actors have many movies.</li>
      <li class="list-group-item">I have example data in the seeds file that can be used to seed the database.</li>
      <li class="list-group-item">Actors and movies can be added, edited and deleted, but associations can only be set in rails console so far.</li>
      <li class="list-group-item"><a href="http://www.josh-mcdonald.com">My website</a></li>
    </ul>
  </div>
<div>
